
body {
    position: relative;
}

.btn {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

.btn.btn-primary {
    background-color: var(--darker-red);
    border-radius: 2.5rem;
    padding: .8125rem 2.0625rem;
    font-family: var(--font-family-segoe_ui_variable_static_display-bold);
}

.btn.btn-secondary {
    background-color: var(--indigo);
    border-radius: 2.5rem;
    padding: .9375rem 1.0625rem;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: var(--font-family-segoe_ui_variable_static_small-regular);
    text-overflow: ellipsis;
    line-height: 1.5171rem;
    color: var(--light-gray);
}
/* HEADER PAGE */


.header {
    width: 100%;
    height: 9.875rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 999;
}

.header-wrapper {
    max-width: 75rem;
    height: auto;
    display: flex;
    align-items: center;
    gap: 8.375rem;
    flex-shrink: 0;
}


.etarget-logo {
    width: 15rem;
    height: auto;
}


.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.3125rem;
}

.navigation-menu > li {
    list-style: none;
}
.navigation-menu > li > a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-family-segoe_ui_variable_static_small-regular);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    transition: all .5s ease;
}

.navigation-menu .link > a:hover {
    color: var(--darker-red);
}

.navigation-menu .link .active {
    color: var(--darker-red);
}



.navigation-menu .link.link-btn {
    background-color: var(--darker-red);
    height: 2rem;
    line-height: 2.3rem;
    padding: 0.3rem 1.4rem;
    cursor: pointer;
    border-radius: 2rem;
    transition: transform .5s ease;
}

.navigation-menu .link.link-btn:hover {
    transform: scale(1.1);
}

.navigation-menu .link.link-btn > a {
    font-weight: 700;
    color: var(--white);
    font-size: 1.2rem;
    font-family: var(--font-family-segoe_ui_variable_static_display-bold);
}


/* MAIN CONTENT */
.container {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.section {
    width: 100%;
    height: auto;
}


/* FOOTER */

.footer {
    width: 100%;
    height: 17.75rem;
    position: absolute;
    background-color: var(--purple);
}

.footer-etarget-logo {
    width: 15.375rem;
    height: auto;
    position: absolute;
    top: 4.125rem;
    left: 10%;
}

.etarget-company-name {
    text-transform: uppercase;
    color: var(--gray);
    font-family: var(--font-family-segoe_ui_variable_static_text-bold);
    font-weight: 700;
    line-height: 2.1875rem;
    font-size: 1.25rem;
    position: absolute;
    top: 8.5rem;
    left: 10%;
}

.footer .big-line {
    width: 80%;
    position: absolute;
    bottom: 5.4375rem;
    left: 10%;
    background-color: var(--white);
}

.footer .social-icons {
    width: 152px;
    height: auto;
    position: absolute;
    right: 10%;
    top: 5.525rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 2.2926rem;
    height: 2.2926rem;
    transition: all .5s ease;
}

.icon:hover {transform: scale(1.1);}

.icon.icon-linkedin {
    background-image: url("../img/linkedin-icon.svg");
}
.icon.icon-facebook {
    background-image: url("../img/fb-icon.svg");
}
.icon.icon-instagram {
    background-image: url("../img/instagram-icon.svg");
}

.hello-etarget {
    color: var(--white);
    font-family: var(--font-family-segoe_ui_variable_static_text-regular);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.1875rem;
    position: absolute;
    right: 10%;
    top: 8rem;
}

.copy-right {
    color: var(--light-gray-secondary);
    font-family: var(--font-family-segoe_ui_variable_static_text-regular);
    font-size: 1.25rem;
    line-height: 2.1875rem;
    position: absolute;
    bottom: 2rem;
    left: calc(50% - 240px);
    display: flex;
    align-items: center;
}

.copy-right .footer-link {
    color: var(--light-gray-secondary);
    font-family: var(--font-family-segoe_ui_variable_static_text-regular);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.1875rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    margin: 0 .5rem;
}

.copy-right .iab-img {
    width: 3.5rem;
    height: 1.7356rem;
    margin-left: .5rem;
    
}

.header .header-wrapper .menu-icon {
    display: none;
    width: 3.125rem;
    height: 3.125rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/menu-icon.png");
}



@media  screen and (min-width: 320px) and (max-width: 1024px) {
    .header .header-wrapper .navigation-menu {
        display: none;
        padding: 0;
        flex-direction: column;
        gap: 1rem;
    }
    .header .header-wrapper {
        width: 50rem;
        margin: 2rem 2rem 0 2rem;
        gap: 0;
        justify-content: space-between;
    }
    .header .header-wrapper .menu-icon {
        display: block;
    }
    
    .text-wrapper .red-line {
        width: 90%;
        height: auto;
    }
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .header .header-wrapper {
        width: 30rem;
    }
    .header .header-wrapper .menu-icon {
        width: 2.5rem;
        height: 2.5rem;
    }  
}

@media  screen and (min-width: 320px){
    .header .header-wrapper {
        width: 20rem;
    }

    .footer .social-icons {
        right: unset;
        top: 16.525rem;
        left: 10%;
    }
    .footer {
        height: 26rem;
    }

    .footer .big-line {
        left: 9%;
    }

    .footer .hello-etarget {
        right: unset;
        top: 12rem;
        left: 10%;
    }

    .copy-right .footer-link, 
    .footer .copy-right {
        font-size: .75rem;
    }

    .footer .copy-right {
        left: calc(50% - 10.1875rem);
    }

}


@media screen and (min-width: 480px) {
    .header .header-wrapper {
        width: 25rem;
    }
}


@media screen and (min-width: 768px)  {
     /* HEADER */
      .header .header-wrapper {
        width: 40rem;
        margin: 0;
    }

    .footer .social-icons {
        right: 10%;
        top: 5.525rem;
        left: unset;
    }

    .footer {
        height: 17.75rem;
    }

    .footer .big-line {
        left: 10%;
    }

    .footer .hello-etarget {
        right: 10%;
        top: 8rem;
        left: unset;
    }

    .copy-right .footer-link, 
    .footer .copy-right {
       font-size: 1.25rem;
    }

    .footer .copy-right {
          left: calc(50% - 240px);
    }


}


@media screen and (min-width: 1024px) and (max-width:1280px) {
    .header .header-wrapper {
        width: 50rem;
        margin: 0;
        gap: 2rem;
    }

    .section.home-section-1 .lines {
        display: none;
    }

}


@media screen and (min-width: 1280px)  {
    .header .header-wrapper {
        max-width: 75rem;
        width: 75rem;
        height: auto;
    }


}

